body {
  background-color: whitesmoke;
  font-family: "Proxima Nova", sans-serif;
  color: #666;
}
h1 {
  margin: 0 0 0 20px;
  padding: 0;
  font-weight: normal;
  color: darkslateblue;
}

/* UI */

#ui {
  width: 30%;
  display: inline-block;
  position: absolute;
  top: 60px;
  left: 20px;
}
#ui button {
    padding: 6px 15px;
    font-size: 1.2em;
}
#ui option {
    font-size: 1.3em;
}

/* MAP */
#map {
  width: 60%;
  height: 340px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 20px;
}
.stroke {
  fill: none;
  stroke: #666;
  stroke-width: 1px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #999;
  stroke-width: .3px;
  stroke-opacity: .5;
}

.land {
  fill: #666;
}

.country {
/*  fill: #888;*/
  stroke: whitesmoke;
  stroke-width: .5px;
}



/* CHART */

#chart {
    width: 66%;
    height: 360px;
    display: inline-block;
    position: absolute;
    top: 60px;
    right: 20px;
    background: #fcfcfa;
}
/*
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
*/

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis--x path {
/*  display: none;*/
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/* CHART LEGEND */

#chart-legend {
    position: absolute;
    width: 100;
    height: 150px;
}
#chart-legend h2 {
    font-size: 1.2em;
}